.texto {
    /* div's já tem display block por padrão */
    display: block;  
    background: red;
    width: 100%;
    max-width: 600px;
    height: 100px;
    /* overflow: hidden; */
    overflow: auto;
    /* border e padding acrescentam o tamanho */
    box-sizing: content-box;
    /* border e padding estao incluidas no tamanho */
    box-sizing: border-box;
    padding: 10px 5px 15px 1px;
    border: 5px dotted black;
}