html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

div {
    height: 100vh;
}

.color-one {
    background: turquoise;
}

.color-two {
    background: purple;
}

.color-three {
    background: yellowgreen;
}
